DATABASE_URL="postgresql://user:password@host:5432/dbname"
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET="your-secret-key-here"
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_username
MAIL_PASS=your_mailtrap_password
MAIL_FROM=notify@yourservice.com